 body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            font: bold 14px/1.4 'Open Sans', arial, sans-serif;
            background: #130d06;
            color: #664b38;
            padding: 0 20px;
            line-height: 1.6;
        }
        main {
            flex: 1;
        }
        /*--- HEADER ---*/
        header {
            background-color: #bfa67a;
            padding: 6px 10px;
            color: #fff;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0 3px 6px rgba(175, 138, 81, 0.1);
        }

        header p {
            font-size: 1rem;
            margin-top: 8px;
            font-style: italic;
            color: #f4eee6;
        }

        /*--- HEADINGS ---*/
        h1 {
            color: #fffbf9;
            margin-bottom: 12px;
            font-size: 2rem;
            margin-top: 10px;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 20px;
            color: rgb(252, 245, 245);
            background-color: rgb(128, 107, 51);
            padding: 20px;
        }


        p {
            font-size: 1rem;
            margin-bottom: 15px;
            color: rgba(241, 232, 218, 0.911);
        }

        /*--- TABLES ---*/
        table {
            width: 50%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border: 1px solid #0f0f0f;
            padding: 12px 10px;
            text-align: left;
            border-radius: 10px;
        }

        th {
            background: #725c3c;
            color: #0c0a07;
            font-weight: 500;
        }

        td {
            background: #fff8f2;
        }

        /*--- MENU ---*/
        .menu-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin: 20px 0;
        }

        .menu-box.reverse {
            flex-direction: row-reverse;
        }

        .menu-box img {
            width: 300px;
            height: auto;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.12);
            margin-right: 5rem;
        }

        .menu-box table {
            width: 80%;
        }

        /*--- ORDER FORM ---*/
        form {
            background: #fff;
            padding: 20px;
            width: 350px;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        }

        .form-box{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }

        label {
            font-weight: bold;
            color: #5a3e2b;
        }

        select, input[type="number"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #c9b19f;
            border-radius: 5px;
            margin-top: 5px;
            font-size: 16px;
            background: #fff9f3;
        }

        /*--- BUTTONS ---*/
        button {
            background: #774e28ff;
            color: #fff;
            padding: 10px 15px;
            margin-top: 15px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
          
      
        }



        button:hover {
            background: #6e4931;
        }

        /*--- ORDER SUMMARY ---*/
        .order-summary {
            background: #fff;
            padding: 20px;
            width: 350px;
            border-radius: 10px;
            margin-top: 20px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        }

        .order-summary p {
            margin: 8px 0;
        }

        /*--- FOOTER ---*/
        footer {
            text-align: center;
            color: #f7f4f1;
            background-color: #70644f;
            padding: 5px 0;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            box-shadow: 0 -3px 6px rgba(0,0,0,0.1);
            font-weight: 500;
            margin-top: 40px;
        }

        /*Menu navigation*/
        .menu-container ul { 
            margin: 150px auto 0; 
            padding: 0; 
            list-style: none; 
            display: table;
            width: 600px;
            text-align: center;
        }
            .menu-container li { 
            display: table-cell; 
            position: relative; 
            padding: 15px 0;
        }
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            
            display: inline-block;
            padding: 15px 20px;
            position: relative;
        }
        a:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
            a:hover:after { 
            width: 100%; 
            left: 0; 
        }

        .menu-container{
            display: flex;
            align-items: center;
            justify-content: center; 
        }

        